{
  "extends": "eslint:recommended",
  "env": {
    "shared-node-browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "no-trailing-spaces": "warn",
    "camelcase": "error",
    "no-const-assign": "warn",
    "no-this-before-super": "warn",
    "no-undef": "warn",
    "no-unreachable": "warn",
    "arrow-spacing": "warn",
    "comma-dangle": "warn",
    "block-scoped-var": "error",
    "brace-style": "error",
    "indent": [
      "warn",
      2
    ],
    "comma-style": "warn",
    "dot-location": "warn",
    "no-unused-expressions": "warn",
    "keyword-spacing": "warn",
    "comma-spacing": "warn",
    "no-unused-vars": "warn",
    "constructor-super": "warn",
    "valid-typeof": "warn",
    "prefer-const": "warn",
    "semi": "error",
    "strict": "error"
  }
}